*{
    margin: 0;
    padding: 0;
    font-family: "General sans";
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
}
#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
}
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: white;
}
#nav a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}
#hrading {
    margin-top: 90px;
}
#heading h1{
    margin-left: 30px;
    opacity: 0.6;
    line-height: 1;
    font-family: "General Sans Medium";
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 900;
}
#heading #secondh1{
    margin-left: 230px;
}
.blocktext{
    width: fit-content;
    /* background-color: red; */
}
.blocktext h5{
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
}
#chhotiheading{
    margin-top: 100px;
}

#chhotiheading h5{
    text-transform: uppercase;
    margin-top: 0.5vw;
    font-size: 1vw;
    text-align: right;
}

#herofooter{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#herofooter a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

#herofooter #iconset{
    display: flex;
    gap: 5px;
}
#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #889;

}

#second{
    width: 100%;
    padding-top: 200px;;
    height: 100vh;
    background-color: black;

}

.elem{
    width: 100%;
    border: 1px solid #888 ;
}